.invite-members-screen-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.invite-members-screen-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
