.medicine-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  //margin-left: 10%;

  width: 98%;
  height: 90%;
}

.medicines-buttons {
  margin-top: 6%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.search-medicine-form {
  display: flex;
  flex-direction: row;

  width: 60%;
}
