@import "../../styles/styles";

.family-table {
  margin-top: 6%;
  width: 100%;

  cursor: pointer;
}

.delete-row-button {
  @extend .tertiary-button;
  align-content: center;
  color: white;
  padding: 3px 12px 3px 12px;
  font-weight: bold;
}