@import "../../styles/styles";

.header-name {
  color: white;
  margin-left: 8px;
  margin-right: 20px;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  padding: 10px 20px 10px 20px;
  background-color: $primary;
}

.header-tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tab-button {
  @extend .primary-button;
  margin-left: 10px;
  margin-right: 10px;
}