.update-user-data-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-top: 8%;
}

.update-user-password-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.multi-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 70%;
}
