@import "../styles/styles";

.dashboard-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 100vh;
}

.dashboard-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 100%;
  width: 100%;
}